.btn {
    padding: 10px 35px;
    font-size: 20px;
    display: block;
    margin: 10px auto;
    background-color: aqua;
    color: rgb(17, 92, 110);
    font-weight: bold;
    border: none;
}

.btn:hover {
    outline: 1px solid  aqua;
}